pkgbase = miopen-hip
	pkgdesc = AMD's Machine Intelligence Library (HIP backend)
	pkgver = 2.18.0
	pkgrel = 1
	url = https://github.com/ROCmSoftwarePlatform/MIOpen
	arch = x86_64
	license = MIT
	makedepends = cmake
	makedepends = rocm-cmake
	makedepends = miopengemm
	makedepends = sqlite
	makedepends = boost>=1.78
	depends = rocblas
	depends = rocm-clang-ocl
	depends = hip
	depends = rocm-llvm-mlir
	provides = miopen
	conflicts = miopen
	source = miopen-hip-2.18.0.tar.gz::https://github.com/ROCmSoftwarePlatform/MIOpen/archive/2.18.0.tar.gz
	sha256sums = 5ef897ecdb8dcc3b8dab51122f94b5c7b77dbb2672c203424536c8cbf817606f

pkgname = miopen-hip
